.friend_list{
   margin: 0 auto; 
   width: 300px;
   box-shadow: 1px 1px 5px  black;
   padding: 0;
   padding: 3px 0;
}

.item{
    display: flex;
    box-shadow: 1px 1px 5px  black;
    padding: 15px 0;
    height: 50px;
    padding-left: 15px;
    margin: 15px;
}

.name{
    padding-left: 15px;
    font-weight: 800;
}

.avatar{
    border-radius: 30%;
    margin-left: 25px;
}